backend = "glx";

use-damage = false;

#Fade windows during opacity changes.
fading = true;

# The time between steps in a fade in milliseconds. (default 10).
fade-delta = 4;

# Opacity change between steps while fading in. (default 0.028).
# fade-in-step = 0.03;

# Opacity change between steps while fading out. (default 0.03).
# fade-out-step = 0.03;

# Fade windows in/out when opening/closing
vsync = true;
# detect-client-opacity = true;
# dbe = false;

# Resume after suspend effect
# no-fading-openclose = true

# inactive-dim = 0.4;
# focus-exclude = [
#   "WM_CLASS@:s *= 'dwm'"
# ];

# Blur
blur: {
    method = "dual_kawase";
    strength = 7.0;
    deviation = 1.0;
    kernel = "11x11gaussian";
}

blur-background = false;
blur-background-frame = true;
blur-background-fixed = true;

blur-background-exclude = [
    "class_g = 'Chrome'",
    "name = 'slop'"
];

# Rounded corners
corner-radius = 10.0;
rounded-corners-exclude = [
  # "! name ~ = ''",
];
