[Unit]
Description=Update DTCH token on onedrive
Requires=dtch-share.service

[Timer]
Unit=dtch-share.service
OnBootSec=1min
OnCalendar=00/1:00:00

[Install]
WantedBy=timers.target
