[Unit]
Description=Dunst notification service
Documentation=man:dunst(1)
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
Environment=DISPLAY=:0
ExecStart=/usr/bin/dunst

[Install]
WantedBy=default.target
