[Unit]
Description=Picom compositor
Documentation=man:picom(1)
PartOf=graphical-session.target
StartLimitBurst=3

[Service]
ExecStart=/usr/bin/picom --experimental-backends --config %h/.config/picom/picom.config --xrender-sync-fence
Environment=DISPLAY=:0
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
